*{

	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Bree Serif', serif;
}

.container{
	min-height: 100px;
	max-width: 960px; /*so that the layout wont expand extensively in*/
	margin: auto;



}

.bg{
	background-image: url(../images/coffee_cup.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	min-height: 100px;
	background-color: rgba(94, 48, 35,0.5);
}

.main{
	min-height: 500px;
	background-color: rgba(94, 48, 35,0.5);
}

.footer{
	height: 190px;
	background-color: rgba(94, 48, 35,1);
}

table, th, td{
	vertical-align: middle;
	text-align: center;
	padding: 0px 3px 0px 3px;
}

table{
	margin-top: 5px;
	border-right: 2px solid black;
}
.row:after{
	/*prevent container to collapse*/

	content: " ";
	display: block;
	clear: both;
}

.grid > .clm{
	height: 1060px;
	width: 7.33%; /*100% / 12 minus 1% for each horizontal margin*/
	margin-left: 0.5%;
	margin-right: 0.5%;

	/*background-color: #efefef;*/
	opacity: 0.4;
	padding-top: 530px;
	text-align: center;
	float: left;


}

.grid{
	position: relative;
	top: -960px;



}


/*#test> h1{*/

.logo{
	text-align: center;
	margin: auto;
	margin-top: 80px;
	background-color: rgba(94, 48, 35,1);
	color: #C59367;
	padding: 50px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	
}

#test {

	height: 900px;
/*	margin-top: 80px;*/
	
}

.gallery{

	background-color: rgba(94, 48, 35,0.5);
	margin-top: 30px;
	color: #C59367;
	height: 170px;
	



}

.photo1{

	min-height: 150px;
	margin: 10px 10px 10px 10px;
	width: 150px;
	background-image: url("../images/raspberry_coffee.jpg");
	background-size: cover;
	float: left;
	

}

.photo2{

	min-height: 150px;
	margin: 10px 10px 10px 10px;
	width: 150px;
	background-image: url("../images/retro-espresso-cup.jpg");
	background-size: cover;
	float: left;
	

}

.photo3{

	min-height: 150px;
	margin: 10px 10px 10px 10px;
	width: 150px;
	background-image: url("../images/coffee-shop.jpg");
	background-size: cover;
	float: left;
	

}

.poster1{

	height: 100%;
	width: 100%;
	background-image: url("../images/morning-coffee-retro-poster_1046-26.jpg");
	background-size: cover;
	opacity: 0.5;



	}

.brand-logo{

	height: 100px;
	width: 100px;
	/*background-image: url(../images/daily-grind.jpg);*/
	background-size: cover;
	float: left;
	position: absolute;
	top: 20px;
	margin-left: 20px;
	opacity: 0.8;
}

.about-pic{
	height: 145px;
	width: 190px;
	background-image: url(../images/hot-coffee.jpg);
	background-size: cover;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;

}

#about-us > p{
	background-color: rgba(94, 48, 35,0.4);
	color: #C59367;
	margin-top: 5px;
	padding: 0 5px 0 5px;
	font-size: 15px;


}

#about-us{
	height: 400px;
}

.about{

	height: 50px;
	background-color: rgba(94, 48, 35,1);
	text-align: center;
	color: #C59367;
	padding-top: 15px;
	border-bottom: 1px solid black;
}

.coffee-pages{
	position: relative;
	top: 70px;
	text-align: center;
	
}

.coffee-pages > a{
	color: #C59367;
	text-decoration: none;
	font-size: 20px;
	margin: 10px;
	font-weight: bolder;

}


.foot-note{

	padding-top: 5px;
	padding-left: 15px;
	position: relative;
}

/* ul > li{
	float: left;
	
}*/



.foot-note2 > ul {
	text-decoration: none;
	list-style: none;
	position: absolute;
	bottom: 0px;
    right: 50px;
}

ul > li{
	display: inline-block;

}

.foot-icons{

/*	top: 0;
	right: 200px;
	position: absolute;*/


}

.fb{

	height: 50px;
	width: 50px;
	background-image: url(../images/fb.jpg);
	background-size: cover;
	top: 0;
	right: 300px;
	position: absolute;
	top: 50px;


}

.twitter{

	height: 50px;
	width: 50px;
	background-image: url(../images/twitter.jpg);
	background-size: cover;
	right: 250px;
	position: absolute;
	top: 50px;


}

.ig{

	height: 50px;
	width: 50px;
	background-image: url(../images/ig.jpg);
	background-size: cover;
	right: 200px;
	position: absolute;
	top: 50px;


}

.youtube{

	height: 50px;
	width: 50px;
	background-image: url(../images/youtube.jpg);
	background-size: cover;
	top: 50px;
	right: 150px;
	position: absolute;

}

a {
	text-decoration: none;
	list-style: none;
	color: #C59367;
	font-size: 10px;
}
/*desktop*/

.col-lg-1 {

	width: 8.33%; /*100 divided by 12*/
}

.col-lg-2{
	width: 16.66%; /*100 divided by 12 * 2*/
}

.col-lg-3{
	width: 25%; /*100/12 * 3*/
}

.col-lg-4{
	width: 33.33%; /*100 divided by 12 * 4*/
}

.col-lg-5{
	width: 41.66%; /*100 divided by 12 * 5*/
}

.col-lg-6{
	width: 50%; /*100 divided by 12 * 6*/
}

.col-lg-7{
	width: 58.33%; /*100 divided by 12 * 7*/
}

.col-lg-8{
	width: 66.66%; /*100 divided by 12 * 8*/
}

.col-lg-9{
	width: 75%; /*100 divided by 12 * 9*/
}

.col-lg-10{
	width: 83.33%; /*100 divided by 12 * 10*/
}

.col-lg-11{
	width: 91.66%; /*100 divided by 12 * 11*/
}

.col-lg-12{
	width: 100%; /*100 divided by 12 * 12*/
}

.left {
	height: 1000px;
}

.right{
	height: 500px;
}


[class*="col"] {

	border: 1px solid black;
	float: left; /*lets columns stack horizontally*/
	box-sizing: border-box; /*ensures actual width does not exceed set width*/
}



/*media queries*/

/*tablets*/
@media only screen and (max-width: 768px) {


	.col-md-1 {

		width: 8.33%; /*100 divided by 12*/
	}

	.col-md-2{
		width: 16.66%; /*100 divided by 12 * 2*/
	}

	.col-md-3{
		width: 25%; /*100/12 * 3*/
	}

	.col-md-4{
		width: 33.33%; /*100 divided by 12 * 4*/
	}

	.col-md-5{
		width: 41.66%; /*100 divided by 12 * 5*/
	}

	.col-md-6{
		width: 50%; /*100 divided by 12 * 6*/
	}

	.col-md-7{
		width: 58.33%; /*100 divided by 12 * 7*/
	}

	.col-md-8{
		width: 66.66%; /*100 divided by 12 * 8*/
	}

	.col-md-9{
		width: 75%; /*100 divided by 12 * 9*/
	}

	.col-md-10{
		width: 83.33%; /*100 divided by 12 * 10*/
	}

	.col-md-11{
		width: 91.66%; /*100 divided by 12 * 11*/
	}

	.col-md-12{
		width: 100%; /*100 divided by 12 * 12*/
	}
}


/*mobile*/

@media only screen and (max-width: 450px){


	.col-sm-1 {

		width: 8.33%; /*100 divided by 12*/
	}

	.col-sm-2{
		width: 16.66%; /*100 divided by 12 * 2*/
	}

	.col-sm-3{
		width: 25%; /*100/12 * 3*/
	}

	.col-sm-4{
		width: 33.33%; /*100 divided by 12 * 4*/
	}

	.col-sm-5{
		width: 41.66%; /*100 divided by 12 * 5*/
	}

	.col-sm-6{
		width: 50%; /*100 divided by 12 * 6*/
	}

	.col-sm-7{
		width: 58.33%; /*100 divided by 12 * 7*/
	}

	.col-sm-8{
		width: 66.66%; /*100 divided by 12 * 8*/
	}

	.col-sm-9{
		width: 75%; /*100 divided by 12 * 9*/
	}

	.col-sm-10{
		width: 83.33%; /*100 divided by 12 * 10*/
	}

	.col-sm-11{
		width: 91.66%; /*100 divided by 12 * 11*/
	}

	.col-sm-12{
		width: 100%; /*100 divided by 12 * 12*/
	}
}



}

